<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorStandalone</a>
    <button class="navbar-toggler" onclick=@ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) onclick=@ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="primes-wasm">
                <span class="oi oi-plus" aria-hidden="true"></span> Primes Wasm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="primes-cs">
                <span class="oi oi-plus" aria-hidden="true"></span> Primes C#
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="primes-js">
                <span class="oi oi-plus" aria-hidden="true"></span> Primes JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nop-wasm">
                <span class="oi oi-plus" aria-hidden="true"></span> Nop Wasm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nop-cs">
                <span class="oi oi-plus" aria-hidden="true"></span> Nop C#
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="nop-js">
                <span class="oi oi-plus" aria-hidden="true"></span> Nop JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conv-wasm">
                <span class="oi oi-plus" aria-hidden="true"></span> Conversion Wasm
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conv-cs">
                <span class="oi oi-plus" aria-hidden="true"></span> Conversion C#
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="conv-js">
                <span class="oi oi-plus" aria-hidden="true"></span> Conversion JS
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="render-blazor">
                <span class="oi oi-plus" aria-hidden="true"></span> Render Blazor
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="render-react">
                <span class="oi oi-plus" aria-hidden="true"></span> Render React
            </NavLink>
        </li>
    </ul>
</div>

@functions {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
