@page "/nop-js"
@using Microsoft.JSInterop
@using MyLibrary
@inject IJSRuntime jsRuntime

<h1>Nop Js</h1>
<PerfomanceTester Action="@Action" />

@functions
{
    double Action(int n)
    {
        var runtime = (IJSInProcessRuntime) jsRuntime;

        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < 1000; j++)
            {
                runtime.Invoke<int>("Primes.Nop", n);
            }
        }

        return 0;
    }
}
