@page "/nop-wasm"
@using MyLibrary

<h1>Nop Wasm</h1>

<PerfomanceTester Action="@Action"/>

@functions
{
    double Action(int n)
    {
        for (int i = 0; i < n; i++)
        {
            for (int j = 0; j < 1000; j++)
            {
                return Test.Nop(n);
            }
        }

        return 0;
    }
}
