@page "/primes-js"
@using Microsoft.JSInterop
@using MyLibrary
@inject IJSRuntime jsRuntime

<h1>Primes Js</h1>
<PerfomanceTester Action="@Action" />

@functions
{
    double Action(int n)
    {
        return ((IJSInProcessRuntime)jsRuntime).Invoke<int>("Primes.GetNthPrime", n);
    }
}
